.products-container{
    padding: 20px;
}

.product-list{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

.product-card img{
    max-width: 100%;
    border-radius: 4px;
    height: auto;
}
