/*forgot-password-link styling(for login page*/
.forgot-password-link {
    font-size: 0.875rem;
    color: #4b5563;
    text-decoration: none;
}

.forgot-password-link:hover {
    color: #111827;
}

