#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app-container {
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafb;
}

.tabs-container {
  display: inline-flex;
  justify-content: right;
  padding: 10px;
}

.routes-container {
  flex: 1;
  padding: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-primary {
  color: #1e3a8a;
}

.bg-background {
  background-color: #ffffff;
}

.border-b {
  border-bottom: 1px solid #e2e8f0;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
