@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: DM Sans, system-ui, Montserrat, Helvetica, sans-serif;
  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #073B4C;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*--color-one:*/
  /*--color-two:*/
  /*--color-three:*/
  /*--color-four:*/
  /*--color-five:*/
  /*--color-six:*/
}
/* Color classes*/
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.5em;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  display: inline-block;
  margin: 0, auto;
  transition: background-color 0.5s ease-out 100ms;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* form styling */
form{
  display:inline-flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label{
  font-weight:600;
  font-size: 1.5em;
  text-align: left;
  text-wrap: wrap;
  font-family: Montserrat, Helvetica, sans-serif;
  flex-wrap: column;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
