button {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    margin-left: 10px;
    font-family: inherit;
    background-color: rgba(var(--color-four), 0.55);
    cursor: pointer;
    transition: border-color 0.25s;
    display: inline-block;
    transition: background-color 0.5s ease-out 100ms;
    justify-content: center;
  }
  button:hover {
    border-color: rgb(var(--color-five));
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }